nltk
liwc
djangorestframework
joblib
scikit-learn
numpy
django==3.1.6
pandas
spacy
django-cors-headers
lxml
#python -m spacy download pt_core_news_sm
git+https://github.com/gpassero/uol-redacoes-xml.git
matplotlib

